<footer class="w-full bg-gray-600/10 ">
<div class="container mx-auto grid grid-cols-3 p-8 ">
        <div>
            <span class="text-3xl block mb-3">LOGO</span>
            <div class="flex gap-3">
                <span> <i class="fa-brands fa-facebook text-2xl"></i></span>
                <span> <i class="fa-brands fa-instagram text-2xl"></i></i></span>
                <span> <i class="fa-brands fa-tiktok text-2xl"></i></i></span>

            </div>
        </div>

    <div>
        <span class="block mb-5">Каталог</span>
        <ul class="flex flex-col gap-1 text-gray-600">
            <li>MENU</li>
            <li>MENU</li>
            <li>MENU</li>
            <li>MENU</li>
            <li>MENU</li>
        </ul>
    </div>

    <div>
        <span class="block mb-5">Контакти</span>
        <ul class="flex flex-col gap-3 text-gray-600">
            <li><p>Телефон</p> <p>+38 (011) 011 01 01</p></li>
            <li><p>Email</p> <p>jellys@jellys.ua</p></li>
            <li><p>Адреса</p> <p>Kyiv. white bat street. 25</p></li>

        </ul>
    </div>
</div>
    <div class="bg-black/85  ">
        <p class="text-center text-sm text-white p-0.5">Розробка сайту  Golden Web digital</p>
    </div>
</footer>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
	lucide.createIcons();
</script>