<header class="w-full p-2">
    <div class=" mx-auto  container ">
        <ul class="flex flex-row gap-6 py-2">
            <li><a href="#" class="">Про нас</a></li>
            <li><a href="#" class="">Відгуки</a></li>
            <li><a href="#" class="">Оплата та доставка</a></li>
            <li><a href="#" class="">Обмін та повернення</a></li>
            <li><a href="#" class="">Блог</a></li>
        </ul>
    </div>

        <div class=" border-t border-b py-3 ">
            <div class="container mx-auto grid grid-cols-3 items-center px-4">
                <div class="flex items-center gap-2">
                    <i data-lucide="phone" class="w-6 h-6 "></i>
                    UA/en
                </div>

                <div class="text-4xl justify-self-center">
                    LOGO
                </div>

                <div class="flex items-center justify-self-end  gap-4">
                    <div class="flex items-center   bg-gray-400/20 px-2">
                        <input type="text" class="outline-none p-1 flex-grow">
                        <i data-lucide="search" class="w-5 h-5"></i>
                    </div>
                    <span> <i data-lucide="heart" class="w-6 h-6 "></i></span>
                    <span> <i data-lucide="user" class="w-6 h-6 "></i></span>
                    <span> <i data-lucide="shopping-bag" class="w-6 h-6 "></i></span>
                </div>

            </div>

        </div>
    <div >
        <ul class="flex flex-row justify-center gap-2 font-light text-lg p-2">
            <li>MENU</li>
            <li>MENU</li>
            <li>MENU</li>
            <li>MENU</li>
            <li>MENU</li>
        </ul>
    </div>

</header>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
	lucide.createIcons();
</script>