<!--{'id': 1, 'name': 'Product 1', 'price': 100, 'price_without_discount': 100, 'rating': 4.5, 'new': True, 'top': True, 'image': 'https://picsum.photos/230/270', 'available': True, 'category_id': 1},-->


    <div class=" max-w-[230px] mx-auto max-h-[360px] ">
    <a class="block" href="#">
    <div class="w-full  ">
        <img src="{{ product.image }}?random={{ product.id }}">
    </div>
    </a>

    <div class="flex justify-between pt-2 ">
        <p>{{ product.name }}</p>
        <button class="likes-btn cursor-pointer" value="{{ product.id }}">
            <i data-lucide="heart"></i> </button>
    </div>
    <div>
        {% if product.available %}
        <span class="text-sm">В наявності</span>
        {% else %}
        <span class="text-sm">Немає в наявності</span>
        {% endif %}
    </div>
    <div class="flex flex-row">
        <p >{{product.price }} UAN</p>
        {% if product.price_without_discount > product.price %}
        <p class="line-through text-gray-500 ml-2">{{product.price_without_discount }} UAN</p>

        {% endif %}
        <div></div>
    </div>
    </div>