

    <div class=" max-w-[230px] mx-auto max-h-[360px] ">
    <a class="block" href="#">
    <div class="w-full  ">
        <img src="{{ product.image }}?random={{ product.id }}">
    </div>
    </a>

    <div class="flex justify-between pt-2 ">
        <p>{{ product.name }}</p>
        <button class="likes-btn cursor-pointer" value="{{ product.id }}">
            <i data-lucide="heart"></i> </button>
    </div>
    <div>
        {% if product.available %}
        <span class="text-sm">В наявності</span>
        {% else %}
        <span class="text-sm">Немає в наявності</span>
        {% endif %}
    </div>
    <div class="flex flex-row">
        <p >{{product.price }} UAN</p>
        {% if product.price_without_discount > product.price %}
        <p class="line-through text-gray-500 ml-2">{{product.price_without_discount }} UAN</p>

        {% endif %}

    </div>
        <div class="flex w-full  justify-end gap-1 mt-1">
        <div class="flex justify-end gap-0.5">
            <i data-lucide="star" fill="currentColor" class="w-4 h-4 text-black"></i>
            <i data-lucide="star" fill="currentColor" class="w-4 h-4 text-black"></i>
            <i data-lucide="star" fill="currentColor" class="w-4 h-4 text-black"></i>
            <i data-lucide="star" fill="currentColor" class="w-4 h-4 text-black"></i>
            <i data-lucide="star" fill="currentColor" class="w-4 h-4 text-black"></i>
        </div>
    </div>
    </div>